:root {
  color-scheme: light dark;
  --error-hue: 0;
  --error-color: hsl(var(--error-hue), 100%, 5%);
  --error-background: hsl(var(--error-hue), 100%, 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --error-color: hsl(var(--error-hue), 100%, 65%);
    --error-background: hsl(var(--error-hue), 100%, 5%);
  }
}

body {
  min-height: 100vh;
}

header {
  padding: 4rem 4rem 0 4rem;
  display: flex;
}

header > a {
  display: inline-flex;
  width: auto;
  flex-wrap: wrap;
  flex-grow: 1;
}

header .auth-info {
  justify-content: right;
}

main {
  padding: 0 4rem;
}

footer {
  padding: 2rem 4rem 4rem 4rem;
  text-align: center;
}

.slogan {
  font-size: 3rem;
}

.container {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header h1 {
  font-weight: bold;
  font-size: 6rem;
}

header a,
footer a {
  text-decoration: none;
}

.home header p {
  font-size: 2rem;
}

.upload img {
  border: 2px solid var(--border-color);
  max-width: 100%;
}

.filename {
  overflow-wrap: anywhere;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  display: inline;
  font-size: 2rem;
}

.breadcrumbs li+li:before {
  padding: 1rem;
  content: ">";
}

p.error {
  border-left: 3px solid var(--error-color);
  color: var(--error-color);
  background: var(--error-background);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.33);
}

.deletable {
  background-color: transparent;
  transition: background-color 1s linear;
}

.deleting {
  background-color: #c00;
}

table {
  width: 100%;
}

thead .name {
  width: 100%;
}

table.entries td {
  white-space: nowrap;
}

table form {
  display: inline;
}

#content {
  clear: both;
}

#content.empty {
  display: none;
}

td.action {
  white-space: nowrap;
}

button.trash,
.button.trash,
button.arrow,
.button.arrow {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 3rem;
}

button.arrow,
.button.arrow {
  font-size: 5rem;
}

button.arrow:disabled,
.button.arrow:disabled {
  cursor: default;
  opacity: 20%;
}

form.preview,
button.show,
.button.show {
  display: block;
  float: right;
  margin-left: 2rem;
}

form.preview {
  margin-top: 3rem;
}

form.archive label {
  display: inline;
}

form.archive button {
  margin-right: 1rem;
}

nav.preview ol {
  list-style-type: none;
}

nav.preview ol li {
  display: inline;
}

.entry ul {
  list-style-type: none;
}

.entry img {
  max-width: 100%;
}

textarea {
  width: 100%;
}

.entry-frame {
  display: block;
  border: 2px outset #888;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  user-select: none;
  background: #999;
  background: radial-gradient(circle, #999 0%, black 100%);
  margin-bottom: 3rem;
}

.entry-frame iframe {
  width: 100%;
  border: none;
  aspect-ratio: 16 / 9;
  margin-bottom: -8px;
}

#entry-preview {
  background: #999;
  background: radial-gradient(circle, #999 0%, black 100%);
  container-type: inline-size;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

#entry-preview main {
  padding: 1rem;
  font-size: 2cqw;
}

#entry-preview .entry-number {
  opacity: 0.5;
}

#entry-preview main h1 {
  font-size: 5cqw;
}

#entry-preview main h2 {
  font-size: 4cqw;
}

#entry-preview main h3 {
  font-size: 3cqw;
}

.fade {
  font-weight: normal;
  opacity: 0.5;
}

#voting .voting-container {
  margin: 5rem auto 0 auto;
  max-width: 80%;
  transform-style: preserve-3d;
}

#voting .voting-container input[type=radio] {
  display: none;
}

#voting .voting-container .entries {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 40vh;
  margin-bottom: 20px;
}

#voting .voting-container .entry {
  /* These default styles apply to all entries preceding the currently selected entry */
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(-20%) scale(.8);
  opacity: .6;
  z-index: 0;
  margin: auto;
  transition: transform .4s ease;
}

#voting .voting-container .entry .entry-frame {
  position: relative;
}

#voting .voting-container .entry .entry-frame::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
}

#voting .voting-container .entry .entry-frame:hover::after {
  background-color: hsla(var(--accent-hue), 100%, 50%, 0.2);
}

#voting .voting-container .entry .entry-frame iframe {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#voting input[name="entry-selector"]:checked + .entry {
  /* The currently selected entry */
  display: block;
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#voting input[name="entry-selector"]:checked + .entry ~ .entry {
  /* Every entry following the currently selected entry */
  transform: translateX(20%) scale(.8);
}

#voting input[name="entry-selector"]:checked + .entry + * + .entry {
  /* The first entry following the currently selected entry */
  display: block;
  transform: translateX(20%) scale(.8);
}


#voting input[name="entry-selector"]:checked:first-of-type ~ .entry:last-of-type {
  /* The last entry when the first entry is selected */
  display: block;
  transform: translateX(-20%) scale(.8);
}

#voting .entry.previous {
  /*
     The 'previous' class is added by JavaScript to the entry preceding the
     selected element and is needed because Firefox doesn't support the
     :has() selector.
  */
  display: block;
  transform: translateX(-20%) scale(.8);
}

#voting .entry.wrap-around {
  /*
     The 'wrap-around' class is added by JavaScript to the first entry when
     the last entry is selected and is needed because Firefox doesn't
     support the :has() selector.
  */
  display: block;
  transform: translateX(20%) scale(.8);
}

#voting .status {
  margin-top: 2.5rem;
  float: right;
}

#voting .status::after {
  content: "";
  display: inline-block;
  margin-left: 1rem;
}

#voting .status-connecting::after {
  content: ' ⧖';
}

#voting .status-connected {
  color: #0f0;
}

#voting .status-connected::after {
  content: ' ✓';
}

#voting .status-disconnected {
  color: #f00;
}

#voting .status-disconnected::after {
  content: ' ╳';
}

#voting .vote {
  background-color: var(--background-color-softer);
  border: 2px outset #888;
  border-bottom-width: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

#voting .vote .vote-text.hidden {
  display: none;
}

#voting .vote .vote-text .score {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent-color);
}

#voting .vote .place-vote {
  list-style-type: none;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: left;
}

#voting .vote .star {
  display: inline-block;
  border: none;
  position: relative;
  line-height: 60px;
  height: 60px;
  transition: color 0.1s ease;
  color: var(--border-color);
  z-index: 1;
}

#voting .vote .star::before {
  content: '\2605';
  display: block;
  width: 60px;
  height: 60px;
  font-size: 60px;
}

#voting .vote .star.selected,
#voting .vote .star.selected ~ .star {
  color: var(--accent-color);
}

#voting .vote .star:hover,
#voting .vote .star:hover ~ .star {
  transition: color 0.2s ease;
  color: #fff !important;
}

#voting .vote .star button {
  border: none;
  width: 60px;
  height: 40px;
  margin: 0;
  line-height: 1;
  padding: 0;
  position: absolute;
  top: 15px;
  left: -6px;
  z-index: 2;
  color: transparent;
}
