{{ define "currentVote" }}
  <div class="vote-text {{ if not . }}hidden{{ end }}">
    You submitted a score of <span class="score">{{ if . }}{{ .Score }}{{ end }}</span>,

    <time datetime="{{ if . }}{{ .CreatedAt }}{{ end }}" class="time">
      {{ if . }}{{ humanize "time" .CreatedAt }}{{ end }}</time>.
  </div>
{{ end }}
