{{ define "title" }}Voting{{ end }}
{{ define "head" }}
  <script src="/js/granola-voting.js"></script>
{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/voting">Voting</a></li>
  </ul>
{{ end }}

{{ define "main" }}
  {{ $this := . }}
  <div id="voting" class="live">
    <div class="status">Offline</div>
    <h2>Live voting</h2>

    <p>Vote on entries as they are played on the big screen!</p>

    {{ if or (not .Playlist) (eq (len .Playlist.Entries) 0) }}
      <p>
        There are currently nothing to live-vote on.
        {{ template "checkOut" .Playlists }}
      </p>

      {{ template "playlistNavigation" .Playlists }}
    {{ else if .Playlist.LiveVotingClosedAt.Valid }}
      <p>
        {{ .Playlist.Name }} was closed for live-voting
        <time datetime="{{ .Playlist.LiveVotingClosedAt.Time }}">
          {{ humanize "time" .Playlist.LiveVotingClosedAt.Time }}</time>.
          You therefore cannot live-vote on anything at the moment.

          {{ template "checkOut" .Playlists }}
      </p>

      {{ template "playlistNavigation" .Playlists }}
    {{ else if gt (len .Playlist.Entries) 0 }}
      <div class="voting-container">
        <div class="entries">
          {{ range .Playlist.Entries }}
            <input type="radio"
                   name="entry-selector"
                   value="{{ .PlaylistEntry.Path }}"
                   id="entry-selector-{{ .PlaylistEntry.Order }}"
                   {{ if eq .IsCurrent true }}checked{{ end }}>
            <div class="entry" id="entry-{{ .PlaylistEntry.Order }}" data-entry-id="{{ .PlaylistEntry.Path }}">
              <div class="vote">
                {{ template "placeVote" . }}
                {{ template "currentVote" .Vote }}
              </div>

              {{ template "entryFrame" .PlaylistEntry }}
            </div>
          {{ end }}
        </div>
      </div>

      <template id="voting-template">
        <div class="entry">
          <div class="vote">
            {{ template "placeVote" }}
            {{ template "currentVote" }}
          </div>
          {{ template "entryFrame" }}
        </div>
      </template>
    {{ end }}
  </div>
{{ end }}
