{{ define "title" }}Voting{{ end }}
{{ define "head" }}
  <script src="/js/granola-voting.js"></script>
{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/voting">Voting</a></li>
    <li><a href="{{ .Playlist.VotingPath }}">{{ .Playlist.Name }}</a></li>
  </ul>
{{ end }}

{{ define "main" }}
  {{ $this := . }}
  <div id="voting">
    <h2>{{ .Playlist.Name }}</h2>

    {{ if or (eq .Playlist nil) (eq (len .Playlist.Entries) 0) }}
      <p>
        There are no entries available for voting in this compo.

        {{ template "checkOut" .Playlists }}
      </p>

      {{ template "playlistNavigation" .Playlists }}
    {{ else if .Playlist.VotingClosedAt.Valid }}
      <p>
        {{ .Playlist.Name }} was closed for voting
        <time datetime="{{ .Playlist.VotingClosedAt.Time }}">
          {{ humanize "time" .Playlist.VotingClosedAt.Time }}</time>.
          You therefore cannot vote on on entries in this compo any longer.

          {{ template "checkOut" .Playlists }}
      </p>

      {{ template "playlistNavigation" .Playlists }}
    {{ else if gt (len .Playlist.Entries) 0 }}
      <div class="voting-container">
        <div class="entries">
          {{ range .Playlist.Entries }}
            <input type="radio"
                   name="entry-selector"
                   value="{{ .PlaylistEntry.Path }}"
                   id="entry-selector-{{ .PlaylistEntry.Order }}"
                   {{ if eq .IsCurrent true }}checked{{ end }}>
            <div class="entry" id="entry-{{ .PlaylistEntry.Order }}" data-entry-id="{{ .PlaylistEntry.Path }}">
              <div class="vote">
                {{ template "placeVote" . }}
                {{ template "currentVote" .Vote }}
              </div>

              {{ template "entryFrame" .PlaylistEntry }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
