{{ define "title" }}Admin{{ end }}
{{ define "navigation" }}
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
{{ end }}
{{ define "main" }}
  <nav>
    <ul>
      <li><a href="/invites">Invites</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/compos">Compos</a></li>
      <li><a href="/entries">Entries</a></li>
      <li><a href="/playlists">Playlists</a></li>
    </ul>
  </nav>
{{ end }}
