{{ define "title" }}Compos{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/compos">Compos</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Compos) 0 }}class="empty"{{ end }}>

  <h2>Compos</h2>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="entries">Entries</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Compos }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Name }}</a></td>
      <td>{{ len .Entries }}</td>
      <td>
        <form action="{{ .Path }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<h2>Add compo</h2>
<form action="/compos" method="POST">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required placeholder="Name">
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="multiplatform" id="multiplatform" value="true" {{ if .Compo.MultiPlatform }} checked{{ end }}>
      <span class="label-body">Multi-platform</span>
    </label>
    <input type="hidden" name="multiplatform" value="false">
  </div>

  <input type="submit" value="Add">
</form>
{{ end }}
