{{ define "title" }}{{ .Compo.Name }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/compos">Compos</a></li>
    <li><a href="{{ .Compo.Path }}">{{ .Compo.Name }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .Compo.Name }}{{ with .Compo.Locked }} 🔒{{ end }}</h2>

<a href="{{ .Compo.ArchivePath }}"
   title="Download a ZIP archive of {{ .Compo.Name }}"
   class="button">Download archive ⇩</a>

{{ $multiPlatform := .Compo.MultiPlatform }}
<div id="content" {{ if eq (len .Compo.Entries) 0 }}class="empty"{{ end }}>
  <h3>Entries</h3>
  <table class="entries">
    <thead>
      <tr>
        <th class="author">Author</th>
        <th class="name">Name</th>
        {{ if $multiPlatform }}<th class="platform">Platform</th>{{ end }}
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Compo.Entries }}
    <tr class="deletable">
      <td>{{ .Author }}</td>
      <td><a href="{{ .Path }}">{{ .Title }}</a></td>
      {{ if $multiPlatform }}<td>{{ .Platform }}</td>{{ end }}
      <td>{{ len .Uploads }}</td>
      <td>
        <form action="{{ .Path }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<form action="{{ .Compo.Path }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Compo.Name }}">
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="multiplatform" id="multiplatform" value="true" {{ if .Compo.MultiPlatform }} checked{{ end }}>
      <span class="label-body">Multi-platform</span>
    </label>
    <input type="hidden" name="multiplatform" value="false">
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="locked" id="locked" value="true" {{ if .Compo.Locked }} checked{{ end }}>
      <span class="label-body">Locked</span>
    </label>
    <input type="hidden" name="locked" value="false">
  </div>

  <input type="submit" value="Update">
</form>

<h3>Add entry</h3>
<form action="{{ .Compo.Path }}/entries" method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required placeholder="Title">
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required placeholder="Author">
  </div>
  <div class="form-group">
    <label for="platform">Platform:</label>
    <input type="text" name="platform" id="platform" placeholder="Platform">
  </div>
  <div class="form-group">
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>
  </div>
  <input type="submit" value="Add">
</form>
{{ end }}
