{{ define "title" }}Playlists{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Playlists) 0 }}class="empty"{{ end }}>
  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="close">
    <input type="submit"
           class="button show"
           value="Close all voting 🔒"
           title="Close all playlists for voting">
  </form>

  <h2>Playlists</h2>

  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="entries">Entries</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Playlists }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Name }}</a></td>
      <td>{{ len .Entries }}</td>
      <td>
        <form action="{{ .Path }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<h2>Add playlist</h2>
<form action="/playlists" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required placeholder="Name">
  <input type="submit" value="Add">
</form>
{{ end }}
