{{ define "title" }}Preview of {{ .Preview.Name }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Preview.Playlist.Path }}">{{ .Preview.Name }}</a></li>
    <li><a href="{{ .Preview.Path }}">Preview</a></li>
  </ul>
{{ end }}
{{ define "main" }}
  <h2>Preview of {{ .Preview.Name }}</h2>

  <form action="{{ .Preview.Playlist.Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="show">
    <input type="submit" class="button show" value="Show {{ .Preview.Name }} ▶️">
  </form>

  {{ if gt (len .Preview.Entries) 0 }}
    {{ $index := (sub .Preview.SlideNumber 1) }}
    {{ $prev := (sub .Preview.SlideNumber 1) }}
    {{ $next := (add .Preview.SlideNumber 1) }}
    {{ $first := eq .Preview.SlideNumber 1 }}
    {{ $last := eq .Preview.SlideNumber (len .Preview.Entries) }}
    {{ if $last }}
      {{ $next = 1 }}
    {{ end }}
    {{ if $first }}
      {{ $prev = (len .Preview.Entries) }}
    {{ end }}

    {{ with (index .Preview.Entries $index) }}
      <nav class="preview">
        <ol>
          <li>
            <a class="button arrow" rel="{{ if $first }}last{{ else }}prev{{ end }}" href="{{ .Playlist.Path }}/preview/{{ $prev }}">
              {{ if $first }}↪️{{ else }}⬅️{{ end }}
            </a>
          </li>
          <li>
            <a class="button arrow" rel="{{ if $last }}first{{ else }}next{{ end }}" href="{{ .Playlist.Path }}/preview/{{ $next }}">
              {{ if $last }}↩️{{ else }}➡️{{ end }}
            </a>
          </li>
        </ol>
      </nav>

      <div class="entry-frame">
        <iframe src="{{ .Path }}"></iframe>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
