{{ define "title" }}{{ .Playlist.Name }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Playlist.Path }}">{{ .Playlist.Name }}</a></li>
  </ul>
{{ end }}

{{ define "openRegularVotingForm" }}
  <p>
    {{ .Name }} was closed for regular voting
    <time datetime="{{ .VotingClosedAt.Time }}">
      {{ humanize "time" .VotingClosedAt.Time }}</time>.
  </p>

  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="open">
    <button type="submit"
            title="Reopen {{ .Name }} for regular voting"
            class="button show">Reopen for regular voting 🔓</button>
  </form>
{{ end }}

{{ define "openLiveVotingForm" }}
  <p>
    {{ .Name }} was closed for live-voting
    <time datetime="{{ .LiveVotingClosedAt.Time }}">
      {{ humanize "time" .LiveVotingClosedAt.Time }}</time>.
  </p>

  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="open">
    <button type="submit"
            title="Reopen {{ .Name }} for live-voting"
            class="button show">Reopen for live-voting 🔓</button>
  </form>

  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="close">
    <button type="submit"
            title="Close {{ .Name }} for regular voting"
            class="button show">Close for regular voting 🔒</button>
  </form>
{{ end }}

{{ define "main" }}
  {{ $r := . }}
  <h2>{{ .Playlist.Name }}</h2>

  <div class="toolbar">
    {{ if .Playlist.VotingClosedAt.Valid }}
      {{ template "openRegularVotingForm" .Playlist }}
    {{ else if .Playlist.LiveVotingClosedAt.Valid }}
      {{ template "openLiveVotingForm" .Playlist }}
    {{ else }}
      <form action="{{ .Playlist.Path }}/preview" method="get" class="preview">
        <button
          {{ if eq (len .Playlist.Entries) 0 }}
            disabled="disabled" title="Cannot preview because {{ .Playlist.Name }} contains no entries"
          {{ else }}
            title="Start preview of {{ .Playlist.Name }}"
          {{ end }}>Preview {{ .Playlist.Name }} ▶️</button>
      </form>

      <form action="{{ .Playlist.Path }}{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Playlist.Name }}">
          <input type="submit" value="Update">
        </div>
      </form>
    {{ end }}

    <form method="get" action="{{ .Playlist.ArchivePath }}" class="archive">
      <button type="submit"
              title="Download a ZIP archive of {{ .Playlist.Name }}"
              class="button">Download archive ⇩</button>
      <label title="Include the order of each entry in the name of each entry">
        <input type="checkbox" name="ordered" id="ordered" value="true" checked="checked">
        <span class="label-body">Ordered</span>
      </label>
    </form>
  </div>

  <div id="content" {{ if eq (len .Playlist.Entries) 0 }}class="empty"{{ end }}>
    <h3>Added entries</h3>
    <table>
      <thead>
        <tr>
          <th class="order" title="Order">#</th>
          <th class="author">Author</th>
          <th class="name">Name</th>
          <th class="platform">Platform</th>
          <th class="uploads">Uploads</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range $i, $e := .Playlist.Entries }}
        {{ $first := eq $i 0 }}
        {{ $last := eq (add $i 1) (len $r.Playlist.Entries) }}
        {{ $votingClosed := or $e.Playlist.VotingClosedAt.Valid $e.Playlist.LiveVotingClosedAt.Valid }}
        <tr class="deletable">
          <td>{{ $e.Order }}</td>
          <td>{{ .Entry.Author }}</td>
          <td><a href="{{ $e.Entry.Path }}">{{ $e.Entry.Title }}</a></td>
          <td>{{ .Entry.Platform }}</td>
          <td>{{ len $e.Entry.Uploads }}</td>
          <td class="action">
            <form action="{{ $e.Path }}{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="direction" value="up">
              <button class="arrow" name="up" type="submit" {{ if or $first $votingClosed }}disabled="disabled"{{ end }}>⬆︎</button>
            </form>
            <form action="{{ $e.Path }}{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="direction" value="down">
              <button class="arrow" name="down" type="submit" {{ if or $last $votingClosed }}disabled="disabled"{{ end }}>⬇︎</button>
            </form>
            <form action="{{ $e.Path }}{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button class="trash" name="delete" type="submit" {{ if $votingClosed }}disabled="disabled"{{ end }}>🗑</button>
            </form>
          </td>
        </tr>
      {{ end }}
      </tbody>
    </table>
  </div>

  {{ if and .Compos (and (not .Playlist.VotingClosedAt.Valid) (not .Playlist.LiveVotingClosedAt.Valid)) }}
    <h3>Compos</h3>
    <div class="form-group">
      <ul>
      {{ range .Compos }}
      <li><a href="{{ $r.Playlist.Path }}?compo={{ .ID }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </div>
  {{ end }}

  {{ if .SelectedCompo }}
    {{ $multiPlatform := .SelectedCompo.MultiPlatform }}
    <h4>Entries in {{ .SelectedCompo.Name }}</h4>
    <div class="form-group {{ if eq (len .SelectedCompo.Entries) 0 }} empty{{ end }}">
      <table>
        <thead>
          <tr>
            <th class="author">Author</th>
            <th class="name">Name</th>
            <th class="uploads">Uploads</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
        {{ range .SelectedCompo.Entries }}
        <tr>
          <td>{{ .Author }}</td>
          <td><a href="{{ .Path }}">{{ .Title }}</a></td>
          {{ if $multiPlatform }}<td>{{ .Platform }}</td>{{ end }}
          <td>{{ len .Uploads }}</td>
          <td>
            {{ $playlistEntry := $r.Playlist.GetEntry .ID }}
            {{ if or (not $playlistEntry) (not (eq $playlistEntry.PlaylistID $r.Playlist.ID)) }}
            <form action="{{ $r.Playlist.Path }}/entries/{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
              <input type="hidden" name="entry" value="{{ .ID }}">
              <input type="hidden" name="order" value="{{ len $r.Playlist.Entries }}">
              <button name="add" type="submit">Add</button>
            </form>
            {{ end }}
          </td>
        </tr>
        {{ end }}
        </tbody>
      </table>
    </div>
  {{ end }}
{{ end }}
