{{ define "title" }}Show of {{ .Show.Name }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Show.Playlist.Path }}">{{ .Show.Name }}</a></li>
    <li><a href="{{ .Show.Path }}">Show</a></li>
  </ul>
{{ end }}
{{ define "main" }}
  <h2>Show of {{ .Show.Name }}</h2>

  <form action="{{ .Show.Playlist.Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="close">
    <input type="submit" class="button show" value="Close {{ .Preview.Name }} 🔒" title="Close {{ .Show.Name }} for live-voting">
  </form>

  {{ $index := (sub .Show.SlideNumber 1) }}
  {{ $next := (add .Show.SlideNumber 1) }}
  {{ $last := eq .Show.SlideNumber (len .Show.Entries) }}
  {{ if $last }}
    {{ $next = 1 }}
  {{ end }}

  {{ with (index .Show.Entries $index) }}
    <form class="next" method="post" action="{{ .Playlist.Path }}/show/{{ $next }}">
      <input type="hidden" name="action" value="show">
      <button class="arrow" name="next" type="submit" {{ if $last }}disabled="disabled"{{ end }}>➡️</button>
    </form>

    <div class="entry-frame">
      <iframe src="{{ .Path }}"></iframe>
    </div>
  {{ end }}
{{ end }}
