{{ define "title" }}{{ .User.Email }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="{{ .User.Path }}">{{ .User.Email }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .User.Email }}</h2>
<form action="{{ .User.Path }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required placeholder="Email" value="{{ .User.Email }}">
  </div>

  <div class="form-group">
    <label for="handle">Handle:</label>
    <input type="text" name="handle" id="handle" required placeholder="Handle" value="{{ .User.Handle }}">
  </div>

  <input type="submit" value="Update">
</form>
{{ end }}
