{{ define "title" }}Users{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Users) 0 }}class="empty"{{ end }}>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Handle</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Users }}
      <tr class="deletable">
        <td>{{ .ID }}</td>
        <td><a href="{{ .Path }}">{{ .Email }}</a></td>
        <td>{{ .Handle }}</td>
        <td>
          <form action="{{ .Path }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button name="delete" type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<h2>Add user</h2>
<form action="/users" method="POST">
  <div class="form-group">
    <label for="name">Email:</label>
    <input type="email" name="email" id="email" required placeholder="Email">
  </div>
  <input type="submit" value="Add">
</form>
{{ end }}
