<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Granola {{ granolaVersion }}">
    <title>{{ block "title" . }}Granola{{ end }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/barebones.css">
    <link rel="stylesheet" href="/css/granola.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <script src="/js/granola.js"></script>
    {{ block "head" . }}
    {{ end }}
  </head>
  <body class="{{ templateName }}">
    <div class="container">
      <header>
        <a href="/"><h1>Granola</h1></a>
        {{ block "user" . }}
        {{ end }}
      </header>
      <main>
        <nav>
          {{ block "navigation" . }}
          {{ end }}
        </nav>
        {{ block "main" . }}
        {{ end }}
      </main>
      <footer>
        <a href="https://gitlab.com/granola-compo/granola/">Granola compo system</a>
      </footer>
    </div>
  </body>
</html>
