{{ define "user" }}
  {{ with .User }}
  <form method="post" action="/logout" class="auth-info">
    Welcome, <a href="/profile">{{ .Handle }}</a>

    <div class="form-group">
      <input type="submit" value="Log out">
    </div>
  </form>
  {{ end }}
{{ end }}
