{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .Entry.Title }} by {{ .Entry.Author }}</h2>

<div class="entry-frame">
  <iframe src="{{ .Entry.Path }}/preview"></iframe>
</div>

<div id="content" {{ if eq (len .Entry.Uploads) 0 }}class="empty"{{ end }}>
  <h3>Uploads</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entry.Uploads }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Filename }}</a></td>
      <td>{{ .ContentSize }}</td>
      <td>
        <form action="{{ .Path }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

{{ if not .Entry.Locked }}

<form action="{{ .Entry.Path }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required placeholder="Title" value="{{ .Entry.Title }}">
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required placeholder="Author" value="{{ .Entry.Author }}">
  </div>

  <div class="form-group">
    <label for="platform">Platform:</label>
    <input type="text" name="platform" id="platform" placeholder="Platform" value="{{ .Entry.Platform }}">
  </div>

  <div class="form-group">
    <label for="notes">Notes: <span class="fade">(Markdown supported)</span></label>
    <textarea name="notes" id="notes" rows="4" placeholder="Notes">{{ .Entry.Notes }}</textarea>
  </div>

  <input type="submit" value="Update">
</form>

<h3>Add upload</h3>
<form action="{{ .Entry.Path }}/uploads" method="POST" enctype="multipart/form-data">
  <label for="file">File:</label>
  <input type="file" name="file" id="file" required>
  <input type="submit" value="Add">
</form>

{{ else }}
<p>This entry has been locked by the competition organizers, and cannot be changed.</p>
{{ end }}
{{ end }}
