{{ define "title" }}Entries{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Entries) 0 }}class="empty"{{ end }}>
  <h3>Your entries</h3>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="author">Author</th>
        <th class="platform">Platform</th>
        <th class="compo">Compo</th>
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entries }}
    <tr class="deletable">
      <td><a href="{{ .Path }}">{{ .Title }}</a></td>
      <td>{{ .Author }}</td>
      <td>{{ .Platform }}</td>
      <td>{{ .Compo.Name }}</td>
      <td>{{ len .Uploads }}</td>
      <td>
        <form action="{{ .Path }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="delete" type="submit" {{ if .Locked }} disabled{{ end }}>Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

{{ if gt (len .Compos) 0 }}

<h2>Add entry</h2>
<form action="/entries" method="POST">
  <div class="form-group">
    <label for="compo">Competition:</label>
    <select id="compo" name="compo" required>
      <option disabled selected hidden value>Select a competition</option>
      {{ range .Compos }}
      <option value="{{ .ID }}" data-multiplatform="{{ .MultiPlatform }}">{{ .Name }}</option>
      {{ end }}
    </select>
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required placeholder="Title">
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required placeholder="Author">
  </div>
  <div class="form-group">
    <label for="platform">Platform:</label>
    <input type="text" name="platform" id="platform" placeholder="Platform">
  </div>
  <div class="form-group">
    <label for="notes">Notes: <span class="fade">(Markdown supported)</span></label>
    <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>
  </div>
  <input type="submit" value="Add">
</form>
{{ else }}
No competitions are currently open for submission!
{{ end }}

{{ end }}
