{{ define "title" }}{{ .Title }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
  </ul>
{{ end }}
{{ define "main" }}
  <p class="slogan">
    Granola &mdash; A minimal, modern competition system for demoparties.
  </p>
  {{ with .User }}
    <p>
      Welcome to the party, {{ .Handle }}!
      Please make a selection from the menu below.
    </p>
    <ul>
      <li><a href="/profile">Edit profile</a></li>
      <li><a href="/entries">Manage entries</a></li>
      <li><a href="/voting">Vote</a></li>
    </ul>
  {{ else }}
    <p>
      Please <a href="/register">register a user</a>, and
      <a href="/login">see yourself inside</a>!
    </p>
  {{ end }}
{{ end }}
