{{ define "title" }}Login{{ end }}
{{ define "main" }}
<h3>Login</h3>
<form action="/login" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" value="{{ .Email }}" required autocomplete="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required autocomplete="current-password" placeholder="Password"{{ if .Email }} autofocus{{ end }}>
  </div>
  <input type="submit" value="Login">
</form>

{{ with .Error }}
<p class="error">{{ . }}</p>
{{ end }}

{{ end }}
