{{ define "title" }}{{ .User.Email }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .User.Handle }}</h2>
<form action="/profile" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="name">Email:</label>
    <input type="email" name="email" id="email" required placeholder="Email" value="{{ .User.Email }}">
  </div>

  <div class="form-group">
    <label for="handle">Handle:</label>
    <input type="text" name="handle" id="handle" required placeholder="Handle" value="{{ .User.Handle }}">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Password">

    <div id="password-confirm-wrapper" style="display: none">
      <label for="password-confirm">Confirm password:</label>
      <input type="password" name="password-confirm" id="password-confirm" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Confirm password">
    </div>

    {{ with .Errors.password }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>

  <input type="submit" value="Update">
</form>
{{ end }}
