{{ define "title" }}Register{{ end }}
{{ define "main" }}
<h3>Register user</h3>
<form action="/register" method="POST">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" value="{{ .Email }}" required minlength="3" autocomplete="email" placeholder="Email">
    {{ with .Errors.email }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <div class="form-group">
    <label for="handle">Handle:</label>
    <input type="text" name="handle" id="handle" value="{{ .Handle }}" required minlength="2" autocomplete="nickname" placeholder="Handle">
    {{ with .Errors.hanle }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Password">

    <div id="password-confirm-wrapper" style="display: none">
      <label for="password-confirm">Confirm password:</label>
      <input type="password" name="password-confirm" id="password-confirm" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Confirm password">
    </div>

    {{ with .Errors.password }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <div class="form-group">
    <label for="invite">Invite code:</label>
    <input type="text" name="invite" id="invite" value="{{ .Invite }}" required placeholder="Invite code">
    {{ with .Errors.invite }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <input type="submit" value="Register">
</form>

{{ end }}
